.cards {
  padding-top: 20px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  gap: 40px 20px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
